<div>
    <h2>
        <span>Clubs</span>
        <button class="btn btn-primary float-right jh-create-entity create-club" [routerLink]="['/', { outlets: { popup: ['club-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Club
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clubs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Fundacion</span></th>
            <th><span>Entidad</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let club of clubs ;trackBy: trackId">
                <td><a [routerLink]="['../club', club.id ]">{{club.id}}</a></td>
                <td>{{club.fundacion | date:'medium'}}</td>
                <td>
                    <div *ngIf="club.entidad">
                        <a [routerLink]="['../entidad', club.entidad?.id ]" >{{club.entidad?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../club', club.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'club/'+ club.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'club/'+ club.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
