<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPersonaLabel">Create or edit a Persona</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!persona.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="persona.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="persona.nombre" required/>
            <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombre?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_apellido">Apellido</label>
            <input type="text" class="form-control" name="apellido" id="field_apellido"
                [(ngModel)]="persona.apellido" required/>
            <div [hidden]="!(editForm.controls.apellido?.dirty && editForm.controls.apellido?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.apellido?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fechanacimiento">Fechanacimiento</label>
            <div class="d-flex">
                <input id="field_fechanacimiento" type="datetime-local" class="form-control" name="fechanacimiento" [(ngModel)]="persona.fechanacimiento"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dui">Dui</label>
            <input type="text" class="form-control" name="dui" id="field_dui"
                [(ngModel)]="persona.dui" required/>
            <div [hidden]="!(editForm.controls.dui?.dirty && editForm.controls.dui?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dui?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nit">Nit</label>
            <input type="text" class="form-control" name="nit" id="field_nit"
                [(ngModel)]="persona.nit" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_direccion">Direccion</label>
            <input type="text" class="form-control" name="direccion" id="field_direccion"
                [(ngModel)]="persona.direccion" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_telefono">Telefono</label>
            <input type="text" class="form-control" name="telefono" id="field_telefono"
                [(ngModel)]="persona.telefono" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_correo">Correo</label>
            <input type="text" class="form-control" name="correo" id="field_correo"
                [(ngModel)]="persona.correo" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
