
<div *ngIf="entidad">
    <h2><span>Entidad</span> {{entidad.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre</span></dt>
        <dd>
            <span>{{entidad.nombre}}</span>
        </dd>
        <dt><span>Representante</span></dt>
        <dd>
            <span>{{entidad.representante}}</span>
        </dd>
        <dt><span>Telefonofijo</span></dt>
        <dd>
            <span>{{entidad.telefonofijo}}</span>
        </dd>
        <dt><span>Correo</span></dt>
        <dd>
            <span>{{entidad.correo}}</span>
        </dd>
        <dt><span>Celular</span></dt>
        <dd>
            <span>{{entidad.celular}}</span>
        </dd>
        <dt><span>Direccion</span></dt>
        <dd>
            <span>{{entidad.direccion}}</span>
        </dd>
        <dt><span>Telefono</span></dt>
        <dd>
            <span>{{entidad.telefono}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'entidad/'+ entidad.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
